{
   "gcp-proj-id": "aaa",
   "src-img-fml": "ubnt",
   "mach-type": "f1-micro",
   "disk-size": "10",
   "disk-type": "pd-standard",
   "img-desc": "App Puma Test",
   "net-name": "default",
   "tag": "app-puma-server"
}
